:root {
  --color1: #D73B2B;
  --color2: #F9A825;
  --grey50: #FAFAFA;
  --grey100: #F5F5F5;
  --grey300: #E0E0E0;
  --grey400: #BDBDBD;
}

* { margin: 0px; padding: 0px; box-sizing: border-box; font-size: 1rem; font-family: Inter; }
html { font-size: 16px; max-width: 100%; font-size: calc(10px + .390625vw); }
h1 { font-size: 3.25rem; font-style: normal; font-weight: 700; line-height: normal;}
h3 { font-size: 2.5rem; font-style: normal; font-weight: 600; line-height: normal; text-align: center; width: 50rem; max-width: 100%; margin: auto; }
h3 + * { margin-top: 3.25rem; }
h5 { font-size: 1.625rem; }
* + h5 { margin-top: 3.25rem; }
h5 + * { margin-top: 3.25rem; }
h6 { font-size: 1.625rem; font-weight: 600; }
p,li { font-size: 1.25rem; }
li + li { margin-top: 1.25rem; }
p + p { margin-top: 1rem; }
a { text-decoration: none; color: inherit; transition: 0.3s;}
.width { max-width: 100%; }
.width > * { margin: auto; max-width: 100%; padding: 3rem 4.75rem; }
input:focus { border: none !important; }

.bold { font-weight: 700; }
.f { display: flex; }
.fc { flex-direction: column; }
.f1 { flex: 1; }
.fwrap { flex-wrap: wrap;}
.tc { text-align: center; }
.tr { text-align: right; }
.btn { line-height: 1; padding: 1rem 1.25rem; border-radius: 5rem; font-size: 1.25rem; background: #fff; transition: 0.3s; display: inline-block; border: none; cursor: pointer; }
.btn:hover { transform: scale(1.05) }
.btn.bgcolor1 { color: var(--grey50);  }
.btn.bgcolor2 { color: #fff;  }
.bgcolor1 { background: var(--color1) }
.bgcolor2 { background: var(--color2) }

.slide-1 { position: relative; display: flex; flex-direction: column; align-items: flex-start; gap: 17.25rem; min-height: 100vh; background: #9FAFBC; }
.slide-1 .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(images/slide-1-bg.jpeg); background-position: fixed; background-size: 100% auto; background-repeat: no-repeat; content: ''; display: block; z-index: -1; }
.slide-1 > div { display: flex; padding: 2.25rem 4.75rem; flex-direction: column; align-items: flex-start; height: 100vh; position: relative; z-index: 2; }
.slide-1 .header { align-items: center; width: 100%; }
.slide-1 .header .logo { width: 10rem; background: rgba(0,0,0,0.5); padding: 0.5rem 0.75rem; border-radius: 2rem; }
.slide-1 .menu { gap: 2.88rem; align-items: center; font-weight: 600; color: #fff; text-shadow: 0px 0px 15px rgba(0,0,0,0.5) }
.slide-1 .menu a:hover { color: var(--color1); transform: scale(1.05) }
.slide-1 h1 { padding-bottom: 2rem; color: #fff; }
.slide-1 p { padding-bottom: 3.25rem; font-size: 1.5rem; line-height: normal; color: #fff; }
.slide-1 h1, .slide-1 p { text-shadow: 0px 0px 15px rgba(0,0,0,0.5) }
.slide-1 .btns { gap: 2rem; }
.slide-1 .content { align-items: center; justify-content: center; padding-right: 30%; }
.slide-1 .content p { padding-right: 30%; }
.slide-1 .content .fc { justify-content: center; }

.slide-2 .content { min-height: 14rem; justify-content: center; }
.slide-2 .f { align-items: stretch; gap: 4rem; }

.slide-2 .img { flex: 0.75; background: url(images/slide-2-img.png) no-repeat center center; background-size: contain; margin: -2rem 0rem; }

.slide-3 { background: var(--grey300); }
.slide-3 .f { gap: 5rem; margin-left: auto; margin-right: auto; justify-content: center; }
.slide-3 .f > * { flex: 1; }
.slide-3 div { text-align: center; }
.slide-3 img { max-width: 100%; max-height: 15rem; border-radius: 1rem; border: 0.2rem solid var(--color1); margin-bottom: 1rem; }

.slide-4 .content { min-height: 14rem; justify-content: center; }
.slide-4 .f { align-items: stretch; gap: 4rem; }

.slide-4 .img { background: url(images/slide-4-img.jpeg) no-repeat center center; background-size: cover; }
.slide-4 .btn { margin-top: 3rem; }

.slide-5 { background: var(--grey100); }
.slide-5 > * { display: flex; gap: 3.25rem; flex-direction: column; justify-content: center; align-items: center; }
.slide-5 h3 + * { margin: 0 !important; }
.slide-5 .f { gap: 3rem; justify-content: center; flex-wrap: wrap; }
.slide-5 .f > div { text-align: center; width: calc( 50% - ( 3rem / 2 ) ); flex: initial; }
.slide-5 img + * { margin-top: 1.38rem; }
.slide-5 img { max-width: 100%; max-height: 25rem; border-radius: 1rem; border: 0.2rem solid var(--color1); margin-bottom: 1rem; }

.slide-6 { background: var(--grey300); }
.slide-6 .content { min-height: 14rem; justify-content: center; }
.slide-6 .f { align-items: stretch; gap: 4rem; }

.slide-6 .img { min-height: 20rem; border-radius: 2rem; background: url(images/slide-6-img.jpeg) no-repeat center center; background-size: cover; }
.slide-6 .btn { margin-top: 3rem; }


.slide-7 .f { gap: 3rem; text-align: center; justify-content: center; }
.slide-7 .f strong { font-size: 4.5rem; font-weight: 800; color: var(--color1); white-space: nowrap; }

.slide-8 { background: #F0EFEC; background: url(images/slide-8-bg.png) no-repeat center center; background-size: cover; position: relative;  }
.slide-8 h3 { width: 70rem; }

.slide-8 form { display: flex; flex-direction: column; gap: 1rem; z-index: 2; position: relative; }
.slide-8 form input { display: block; width: 100%; border-radius: 1rem; font-size: 1rem; padding: 1.25rem; border: none; }
.slide-8 .btn { margin-top: 2rem; }

.slide-9 { color: #fff; background: url(images/slide-9-bg.jpeg) no-repeat center center; background-size: cover; position: relative; }
.slide-9:before { content: ''; display: block; width: 100%; height: 100%; background: #000; opacity: 0.75; position: absolute; top: 0; left: 0; z-index: 0;}
.slide-9 > * { position: relative; z-index; 1; }
.slide-9 .logo { margin: auto !important; width: 12.5rem; }
.slide-9 .f { gap: 3rem; justify-content: center; align-items: center; }
.slide-9 p { font-size: 1.625rem; font-weight: 600; }


.slide-10 .logo { width: 12rem; }
.slide-10 .col-1 p { display: flex; gap: 1rem; align-items: center; }
.slide-10 .col-1 p a + a { margin-left: -0.5rem; }
.slide-10 .col-1 p a img { width: 1.75rem; height: 1.75rem; }
.slide-10 .col-2 { gap: 3rem }
.slide-10 .logo { margin-left: auto }
.slide-10 .sm { text-align: center; }
.slide-10 .sm img { width: 3rem; height: 3rem; }


/*KOMINUKATY*/
.komunikat-box { margin: 0px; position: relative; padding: 12px !important; height: auto !important; clear: both; color: #000; box-sizing: border-box; border-radius: 0px !important; color: #000 !important; font-weight: 300; text-align: center; }
.komunikat-box h3 { text-transform: uppercase; margin: 0px; padding: 0px; font-size: 1.2rem; font-weight: 700; }
.komunikat-box h3 + p { margin-top: 2px; padding-top: 0px; }
.komunikat-box p:last-child { margin-bottom: 0px; padding-bottom: 0px; }
.komunikat-box > ul { margin: 0px; padding: 0px !important; list-style-type: none !important; font-size: inherit; display: flex; align-items: stretch; }
.komunikat-box > ul > li { margin: 0px; padding: 0px !important; font-size: inherit; background: none !important; border: none !important; flex: 1; flex-grow: 1; }
.komunikat-box > ul { background: none !important; cursor: default !important; }
.komunikat-box > ul > li { background: none !important; cursor: default !important; }
.komunikat-box > ul > li > div.title { font-size: 1.1rem; }
.komunikat-box li li { padding: 0px !important; background: none !important; border: none !important; }
.komunikat-box li.ico { flex: initial; width: 40px; }
.komunikat-box li.btn { flex: initial; width: auto; padding-left: 12px; }
.komunikat-box li.btn > button { white-space: nowrap; background: #444 !important; color: #fff;  box-shadow: inset 0px -30px 30px -30px #000; border: none; }
.komunikat-box.true { background: #E6EE9C !important; }
.komunikat-box.false { background: #FFCDD2 !important; }
.komunikat-box.alert { background: #FFE082 !important; }
.komunikat-box.help  { background: #CFD8DC !important; }
.komunikat-box.info  { background: #B3E5FC !important; }
.komunikat-box.error  { background: #E53935 !important; color: #fff !important; opacity: 1; }
*:not(.buttons) > .komunikat-box { margin-top: var(--space); }
.komunikat-box:first-child { margin-top: 0px; }

.form-alert{width:100%;position: relative;}
.form-alert:before{content:'!';position:absolute;top:-.3rem;right:-.3rem;background:red;width:1.2rem;height:1.2rem;color:#fff;text-align:center;line-height:.8em;font-size:.8em;border-radius:1rem;z-index:5;font-weight:600;display:flex;align-items:center;justify-content:center}

@media only screen and (max-width: 600px) {
  html { max-width: 100vw; }
  body { max-width: 100vw; }
  .slide-1 .bg { background-size: cover; position: relative; flex: 1; overflow: hidden; }
  .slide-1 .bg + * { flex: initial;  }
  .slide-1 > div { padding: 0; gap: 0rem; }
  .slide-1 .header { padding: 2.25rem; background: #293F65; position: relative; flex: initial; }
  .slide-1 .content { background: #9FAFBC; padding: 2.25rem; position: relative; }
  .slide-1 .bg:after { content: ''; height: 2rem;  width: 100%; clip-path: polygon(100% 0%, 0% 100%, 0% 0%); background: #293F65; position: absolute; top: -1px; left: 0; }
  .slide-1 .bg:before { content: ''; height: 2rem;  width: 100%; clip-path: polygon(0% 100%, 100% 100%, 0% 0%); background: #9FAFBC; position: absolute; bottom: -1px; left: 0; }
  .slide-1 .header .logo { flex-direction: column; align-items: flex-start; justify-content: left; width: 15rem; margin-bottom: 1.5rem; background: none; padding: 0;  }
  .slide-1 .header { flex-direction: column; align-items: flex-start; justify-content: left; }
  .slide-1 .header .menu a { font-size: 1.15rem; }
  .slide-2 .f { flex-direction: column; }
  .slide-2 .img { height: calc( 100vw - 2 * 4.75rem ); flex: initial; }
  .slide-3 .f { flex-direction: column; }
  .slide-4 .f { flex-direction: column; }
  .slide-4 .img { height: calc( 100vw - 2 * 4.75rem ); flex: initial; }
  .slide-5 .f { flex-direction: column; }
  .slide-5 .f > div { text-align: center; width: auto; }
  .slide-6 .f { flex-direction: column; }
  .slide-6 .img { height: calc( 100vw - 2 * 4.75rem ); flex: initial; }
  .slide-7 * { text-align: center; }
  .slide-7 .f { flex-wrap: wrap; }
  .slide-8 .f1 + .f1 { display: none; }
  .slide-9 > * { text-align: center; }
  .slide-10 > * { flex-direction: column; gap: 4.75rem; text-align: center; }
  .slide-10 * { text-align: center; }
  .slide-10 .logo { margin: auto; }
  .slide-10 p { justify-content: center; }
}
