:root {
  --text-color: #AF0707;
  --text-shadow:#ffffff49;
  --linear-gradient-grey:linear-gradient(0deg, rgba(172,172,172,1) 0%, rgb(255, 255, 255) 100%);
  --border-menu:#ffeaea5e;
  --green: #53900F;
}


 
body{
font-family: Comfortaa,sans-serif!important;
  background-color: #f2f2f2;
  overflow-x: hidden;
  color:var(--text-color) ;
padding: 0;
margin: 0;
box-sizing: border-box;
width: 99.2vw;
}

body a{
  color:var(--text-color) ;
}

/* navigation */
nav{
  display: flex;
  flex-direction: row;
}
nav>:first-child{
  display: flex;
  justify-content: space-between;
}
.cstmNavigation{
  z-index: 9999;
  padding: 0;
  width: 100%;
}
.cstmNavigation>div>a>img{
  width: 150px;
}
.logo{
  align-self: center;
  margin: 0;
  padding: 0;
}
/* burger */
.burgerMenu{
display: none;
}


#close__burger {
  z-index: 9999;
  position: absolute;
  top: 25px;
  right: 25px;
  margin-top: 15px;
  background: transparent;
  align-self: flex-end;
  border-radius: 35% 40%;
  transition: all 0.2s;
  border: none;
}
#close__burger:hover {
 transform: scale(1.2);
 transition: all 0.2s;
}

#burgermenu>ul>li>ul{
      display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
}
#burgermenu.menuVisible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

#burgermenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

#burgermenu {
 width: 100vw;
  z-index: 9998;
  padding: 0; border: 0; 
  position: fixed;
  top: 0; left: 0;bottom: 0;  
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}
#burgermenu ul, #burgermenu li {list-style: none; margin: 0; padding: 0;}
#burgermenu ul {position: relative; z-index: 597; }
#burgermenu ul li { min-height: 1px; vertical-align: middle;}

#burgermenu ul li:hover {
  position: relative;
 
  cursor:  pointer;
   left: -3rem;
  }
#burgermenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; }
#burgermenu ul ul li {float: none;}
#burgermenu ul ul ul { left: auto; top: 3rem; left: 0; width: max-content; text-align: center;}
#burgermenu ul li:hover > ul { visibility: visible;}
#burgermenu ul ul {bottom: 0; left: 0;}
#burgermenu ul ul {margin-top: 0;  border: 0.23rem solid var(--border-menu);
border-radius: 5px;}
#burgermenu ul ul li {font-weight: normal;}
#burgermenu a {  text-decoration: none; }
.has-sub a{
display: block;
}
  /* #cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; 
} */
    #burgermenu ul ul {
      border-top: 4px solid #AF0707;
      text-transform: none;
      min-width: 190px; 
}
      #burgermenu ul ul a {
        background: var(--text-color);
        color: #FFF;
        border: 1px solid var(--text-color);
        border-top: 0 none;
        line-height: 150%;
        padding: 16px 20px; 
         border: 0.23rem solid var(--border-menu);
border-radius: 5px;
}
      #burgermenu ul ul ul { border-top: 0 none; }

      #burgermenu ul ul li { position: relative; transition: all 0.13s; }



        #burgermenu ul ul li:hover > a { background: #8c1616; transition: all 0.13s;}


        #burgermenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

        /* #cssmenu ul ul li.has-sub > a:after {
          content: '+';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -8px;
} */

 #burgermenu ul li:hover > a, #burgermenu ul li.active > a {
      background: #ff0000;
      color: #FFF;
}
    #burgermenu ul li.has-sub > a:after {
      content: '+';
      margin-left: 5px; 
}
    #burgermenu ul li.last ul {
      left: auto;
      right: 0; 
}
      #burgermenu ul li.last ul ul {
        left: auto;
        right: 99.5%;
}

/* #burgermenu{display: none;} */

/* navigavion */

.dropdownCstmItem{
  width: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
#cssmenu>ul>li>ul{
  display: flex;
  flex-direction: column;
  height: max-content;
}
#cssmenu {padding: 0; margin: auto; border: 0; }
#cssmenu ul, #cssmenu li {list-style: none; margin: 0; padding: 0;}
#cssmenu ul {position: relative; z-index: 597; display: flex;}
#cssmenu ul li { min-height: 1px; vertical-align: middle;}
#cssmenu ul li.hover,
#cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}
#cssmenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; }
#cssmenu ul ul li {float: none;}
#cssmenu ul ul ul {top: 0; left: auto; right: -90%; }
#cssmenu ul li:hover > ul { visibility: visible;}
#cssmenu ul ul {bottom: 0; left: 0;}
#cssmenu ul ul {margin-top: 0; }
#cssmenu ul ul li {font-weight: normal;}
#cssmenu a { display: block; text-decoration: none; }
#cssmenu ul li ul li{
  width: 200px;
}
  /* #cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; 
} */
    #cssmenu ul ul {
      border-top: 4px solid var(--text-color);
      text-transform: none;
      /* min-width: 190px;  */
}
      #cssmenu ul ul a {
        background: var(--text-color);
        color: #FFF;
        border: 1px solid var(--text-color);
        border-top: 0 none;
        line-height: 150%;
        padding: 16px 20px; 
}
      #cssmenu ul ul ul { border-top: 0 none; }

      #cssmenu ul ul li { position: relative }



#cssmenu ul ul li:first-child > a { border-top: 1px solid #ff0000; }
        #cssmenu ul ul li:hover > a { background: #ff0000; }

        #cssmenu ul ul li:last-child > a {
          border-radius: 0 0 3px 3px;
          box-shadow: 0 1px 0 #ff0000; 
}
        #cssmenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

        /* #cssmenu ul ul li.has-sub > a:after {
          content: '+';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -8px;
} */

 #cssmenu ul li:hover > a, #cssmenu ul li.active > a {
      background: #ff0000;
      color: #FFF;
}
.burgerMenuItems{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
    #cssmenu ul li.has-sub > a:after {
      content: '+';
      margin-left: 5px; 
}
    #cssmenu ul li.last ul {
      left: auto;
      right: 0; 
}
      #cssmenu ul li.last ul ul {
        left: auto;
        right: 99.5%;
}
/* end multiselect */
/* Соц сети разворачивающиеся */
/* социальные сети в навигации */
.fab-wrapper {
  position: relative ;
 
}
.fab-wrapper1 {
  position: relative ;

}

.fab-checkbox {
  display: none;
}
.fab-checkbox1 {
  display: none;
}
.fab {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0px 20px 5px #ffffff60;
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: 50%;
  border: 1px solid #1F6521;
  cursor: pointer;
}
.fab1 {
  position: relative;
  
  width: 3rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 50%;
 box-shadow: 0 0px 10px 5px #ffffff60;
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: 50%;
  border: 1px solid #1F6521;
}

.fab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab:after {
  content: "";
  text-align: right;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -3rem;
  top: -3.5rem;
color: #ffffff;
font-size: 18px;
font-weight: bold;
}
.fab1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab1:after {
  content: "";
 

  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -3.5rem;
 
}

.fab-checkbox:checked ~ .fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
  background: #ffffffcf;
   box-shadow: 0 0px 20px 7px #ffffff;
   
}
.fab1:hover {
 background: #ffffffcf;
   box-shadow: 0 0px 20px 7px #ffffff;
}


.fab svg{
  width: 100%;
  padding: 10px;
}
.fab1 img{
  width: 100%;
  padding: 3px;
}





@keyframes blink {
  50% {
    opacity: 0.55;
  }
}



.fab-wheel {
  position: absolute;
  bottom: -3rem;
  right: 0;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}


.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}

.fab-action {
  filter: blur(0.3px);
  position: absolute;
  background: #0f1941;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
  transition: all 1s ease;
  opacity: 0;
}
.fab-action1 {
  position: absolute;
  background: #0f1941;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
  transition: all 1s ease;
  opacity: 0;
}

.fab-checkbox:checked ~ .fab-wheel .fab-action {
  opacity: 1;
}


.fab-action:hover {
  filter: blur(0px);
}

.fab-wheel .fab-action-1 {
right: 0;
  top: 8rem;
 
}

.fab-wheel .fab-action-2 {
  right: 0;
  top: 11.25rem;
}
.fab-wheel .fab-action-3 {
  right: 0;
  top: 14.5rem;
}
.fab-wheel .fab-action-4 {
  right: 0;
  top: 17.75rem;
}
.fab-wheel .fab-action-1:hover, .fab-wheel .fab-action-2:hover, .fab-wheel .fab-action-3:hover, .fab-wheel .fab-action-4:hover{
  transform: scale(1.1);
}
/* конец соц сетей в навигации */
/* Конец соц сетей */

/*  */
 #scrollToTopBtn {
  opacity: 0.2;
   transition: 0.3s;
  padding: 5px;
  z-index: 9999;
      position: fixed;
      bottom: 40px;
      right: 40px;
      display: none;
      border: 1px solid black;
      border-radius: 50%;
      color:var(--text-color) ;
      background-color: rgba(0, 0, 0, 0.064);
    }
    #scrollToTopBtn:hover{
      opacity: 1;
      transition: 0.5s;
    }
/* ------------------------------------------- */
.noMore::after{
  content: "Набор приостановлен";
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgba(130, 130, 130, 0.5); /* Задайте цвет фона, если нужно подсветить текст */
  color: white; /* Задайте цвет текста */
  padding: 10px;
  border-radius: 5px;
  font-size: 32px;
}
.linkForNav {
  text-decoration: none !important;
}
.scrolled {opacity: 0.5;
   background: rgb(97, 28, 21);
  background: linear-gradient(
    0deg,
    rgba(97, 28, 21, 0.7) 0%,
    rgba(225, 42, 24, 0.7) 100%
  );
  transition: background-color 0.5s ease-in-out;}
.scrolled:hover{
  opacity: 1;
  background-color: #b50000;
}
  .customClr{
  color: var(--text-color);
}
  .customItem {
    display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
   margin-left: 1rem;
}
.customItem1 {
  color: #000000;
  text-shadow: 1px 1px 2px  var(--text-shadow);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 34px;
  letter-spacing: 2px;
}
.customItem1:hover{
  color: #f2f2f2;
  text-shadow: 1px 1px 2px  black;
}
.backgroundGr {
  background: rgb(97, 28, 21);
  background: linear-gradient(
    0deg,
    rgba(97, 28, 21, 1) 0%,
    rgba(225, 42, 24, 1) 100%
  );
  transition: background-color 0.5s ease-in-out;
}

.backgroundE12a18 {
  background: #e12a18;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


.new {
    animation: flash 1s infinite;
}
.new1 {
    animation: flash 1.2s infinite;
}
.new1:hover{
    animation: none;
}


.click {
  position: absolute; /* Позволяет элементу занимать всю площадь родителя */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.SubHeader{
z-index: 1;
background-color: #000000dc;
height: 60px;
}

.cstmSubHeader {
  
  color: #AF0707;
  text-shadow: 0px 0px 1px #ffffff;
  filter: invert(0%) sepia(0%) saturate(500%) hue-rotate(354deg) brightness(100%) contrast(100%);
  transition: text-shadow 0.3s ease-in-out, filter 0.3s ease-in-out,transform scale(1.2);
  animation: colorChange 1s alternate infinite;
}

@keyframes colorChange {
  0% {
    color: #AF0707;
    text-shadow: 0px 0px 1px #ffffff;
  }
  100% {
    color: #ffffff; /* Изменение цвета при анимации */
    text-shadow: 0px 0px 3px #AF0707; /* Изменение размера тени при анимации */
  }
}

.cstmSubHeader:hover {
  text-shadow: 0px 0px 3px #ffffff;
  filter: invert(100%);
  animation: none;
  transition: 0.5s;
  transform: scale(1.2); /* Отключение анимации при наведении */
}
.customBGAll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/principal/photo_2023-10-02_14-43-48.jpg") no-repeat
    center center;
  background-size: 100%;
  background-position: 20% 60%;
  opacity: 0.2; /* По желанию, задайте прозрачность */
  z-index: -2; /* Поместите псевдоэлемент под основным контентом */
}
.customBG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/principal/man.webp") no-repeat center center;
  background-size: 20%;
  background-position: 15% 100%;
  opacity: 1; /* По желанию, задайте прозрачность */
  z-index: -1; /* Поместите псевдоэлемент под основным контентом */
}
.customBG::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/principal/woman.webp") no-repeat center center;
  background-size: 20%;
  background-position: 85% 100%;
  opacity: 1; /* По желанию, задайте прозрачность */
  z-index: -1; /* Поместите псевдоэлемент под основным контентом */
}
@media(max-width: 576px){
  .customBG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/principal/man.webp") no-repeat center center;
  background-size: 20%;
  background-position: 0% 100%;
  opacity: 1; /* По желанию, задайте прозрачность */
  z-index: -1; /* Поместите псевдоэлемент под основным контентом */
}
  .customBG::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/principal/woman.webp") no-repeat center center;
  background-size: 20%;
  background-position: 100% 100%;
  opacity: 1; /* По желанию, задайте прозрачность */
  z-index: -1; /* Поместите псевдоэлемент под основным контентом */
}
}

.customH1 {
  color: #e12a18;
  font-size: 3rem;
  font-weight: 600;
  padding: 10px 14px;
 font-family: Comfortaa,sans-serif!important;
}
.customH3 {
  color: #8e44ad;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 14px;
  font-family: Comfortaa,sans-serif!important;
}
.customH32 {
  width: max-content;
  color: #e12a18;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 14px;
  font-family: "Nunito", sans-serif;
}
.customBgSubscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/BG/BG_Etalones.png);
  background-size: cover;
  opacity: 0.5; /* Устанавливаем прозрачность для фонового изображения */
  z-index: -1;
}

/* test */



.card {
  max-width: 300px;
  width: 100%;
  height: max-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden;
  color: var(--text-color)!important;
}
@media (max-width: 987px){
.card{
  max-width: 100%;
  width: 100%;
}
}
.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%;
}

.card:hover {

  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #e12a18;
  animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
  0% {
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  50% {
    height: 80px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
  }

  75% {
    height: 160px;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%;
  }

  100% {
    height: 320px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
}

.card .pic {
  position: relative;
}

.card .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  background-color: #e12a18;

  position: absolute;
  bottom: 0px;
  transition: all ease;
}

.card .date .day {
  font-size: 14px;
  font-weight: 600;
}

.card .date .month,
.card .date .year {
  font-size: 10px;
}

.card .text-muted {
  font-size: 12px;
}



.card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #e12a18;
  border-radius: 25px;
  font-size: 12px;
  border: none;
}

.card:hover .content .btn {
  background: #fff;
  color: #e12a18;
  box-shadow: #0000001a 0px 3px 5px;
}

.card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px;
}

.card .content .foot .admin {
  color: #e12a18;
  font-size: 12px;
}

.card:hover .content .foot .admin {
  color: #fff;
}

.card .content .foot .icon {
  font-size: 12px;
}

.cstmSubNav{
  margin: 1rem;
  text-decoration: none;
  transition: all 0.3s;
}
.cstmSubNav:hover{
  transition: all 0.3s;
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: none;
}

/* 17:49 */

.beforeCustom::before {
  content: "";
  position: absolute;
  left: 75%;

  width: 50%;
  height: 50%;
  background: url("../img/principal/man.webp") no-repeat center center;
  background-size: 20%;
  background-position: 15% 100%;
  opacity: 1; /* По желанию, задайте прозрачность */
  z-index: 5; /* Поместите псевдоэлемент под основным контентом */
}

/* --------------Social---------------- */
.bgSocial{
    background-color: #252525;
}
.social-buttons {
  
  display: flex;
gap: 15px;
  align-items: center;
  padding: 15px 0;
  margin: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
 transform: scale(1.2);
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 100%;
}

/* ------------------------------------ */

.social-buttons1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social-button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 0px 0px 2px #00000027;
  transition: 0.3s;
}
.social-button1 svg{
   width: 30px;
  height: 30px;
}

.social-button1:hover {
 transform: scale(1.2);
  
}

.social-buttons1 svg {
  transition: 0.3s;
  height: 100%;
}
/* ------------------------------------ */
.dropdown-menu {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-menu.show {
  opacity: 1;
}


/* ------------------------------------ */

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}
/* social for Managers */
.telegramAnim,
.whatsAppAnim {
  color: #AF0707;
  transition: 0.5s;
  transform-origin: center;
  animation-fill-mode: forwards;
  transform: scale(1);
}

.telegramAnim {
  animation: colorChangeT 2s alternate infinite;
  animation-delay: 0s;
}

.whatsAppAnim {
  animation: colorChangeW 2s alternate infinite;
  animation-delay: 2s;
}

@keyframes colorChangeT {
  0% {
    color: #2F89CE;
  }
  100% {
    color: #005393;
  }
}

@keyframes colorChangeW {
  0% {
    color: #48C95F;
  }
  100% {
    color: #045313;
  }
}

.telegramAnim:hover,
.whatsAppAnim:hover {
  animation: none;
  
}



/* ------------Informatsiya------------ */

.hoverItems{
  height: 3.5rem;
  color: #b50000;
background: rgb(172,172,172);
background: var(--linear-gradient-grey);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 15px 4px rgba(0, 0, 0, 0.15) !important;
border: 1px solid var(--linear-gradient-grey)!important;
transition: all 0.2s!important;
}
.hoverItems:hover{
 color: #d10000;
 font-weight: 600;
 text-shadow: 0px 0px 7px #d100006c,0px 0px 7px #ffffff;
transform: scale(1.1);
transition: all 0.2s!important;
}

/* Modal-Anket */
#closeAnket1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  z-index: 9999;
}
.wraper-anket1{ 
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  overflow: hidden!important;
   background-color: #fbfbfd;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
   z-index: 9999;
}
.section-1 {
     height: 100vh;
    /* max-width: 375px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section9 {
  /* display: flex; */
  position: absolute;
  top: 0;
}

.anketa-profession {
 
  box-sizing: border-box;
   padding: 35px;
   border-radius: 30px;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.183);
   background-color: rgb(213, 213, 213);
   display: flex;
   flex-direction: column;
   gap: 25px;
   position: relative;
}

.anketa-profession input {
    width: 95%;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 5px;
    font-weight: 500;
    border: 0.5px solid rgba(211, 211, 211, 0.591);
    transition: all 0.32s ;
    box-shadow: 0 0 5px rgb(128, 128, 128);
}
.anketa-profession input:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.anketa-profession input:focus {
    outline-color: rgba(29, 29, 201, 0.612);
}

.anket {
    display: none;
}
.anket p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
}
.switch-btn {
    display: flex;
    justify-content: space-between;
}
#step-next,
#step-back
 {
    cursor: pointer;
  color: #227ED5;
  font-size: 1rem;
    line-height: 1.2381;
    font-weight: 400;
}
.hide{
  display: none;
}
.show {
    display: flex;
    flex-direction: column;

}
#close{
position: absolute;
top: 10px;
right: 10px;
width: 10%;}
#close1{
position: absolute;
top: 10px;
right: 10px;
width: 10%;}
#cancel1, #submit1{
  cursor: pointer;
  color: #227ED5;
  font-size: 1rem;
    line-height: 1.2381;
    font-weight: 400;
}
#button{
  width: max-content;
  align-self: center;
  padding:5px 30px;
}
 /* Стили для галочки */
     

 /* --------------------test----------------------- */

/* Media */
@media(max-width:876px){
  .social-buttons{
    display: none;
  }
  /* социальные сети в навигации */
.fab-wrapper {
  position: absolute ;
  bottom: 3rem;
  right: 2rem;
}
.fab-wrapper1 {
  position: absolute ;
  bottom: 2rem;
  left: 2rem;

}



.fab {
  animation: upDown 2s ease-in-out infinite;
  animation-delay: 2s;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  background: rgba(250, 53, 53, 0.726);
  border-radius: 50%;
  background: #ffffff;
 box-shadow: 0px 5px 20px #000000;
  transition: all 0.3s ease;
  z-index: 1;
  border-bottom-right-radius: 6px;
  border: 1px solid #000000;
}

@keyframes upDown {
  0%, 10%, 20%, 30%, 50%, 70%, 80%, 90%, 100% {
    transform: translateY(0); /* начальная и конечная позиции - не менять положение */
  }
  40% {
    transform: translateY(-20px); /* поднимаем элемент вверх на 20px */
  }
  60% {
    transform: translateY(-10px); /* опускаем элемент немного вниз на 10px */
  }
}

.fab1 {
  position: absolute;
  bottom: 0rem;
  left: -1rem;
  width: 4rem;
  height: 4rem;
  background: rgba(250, 53, 53, 0.726);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 5px 20px #000000;
  transition: all 0.3s ease;
  z-index: 1;
  border-bottom-left-radius: 6px;
  border: 1px solid #000000;
  animation: upDown 2s ease-in-out 3;
  animation-delay: 3s;
}

.fab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab:after {
  content: "";
  text-align: right;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -3rem;
  top: -3.5rem;
color: #ffffff;
font-size: 18px;
font-weight: bold;
}
.fab1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab1:after {
  content: "";
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -3.5rem;
 
}

.fab-checkbox:checked ~ .fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
  background: #e2e2e2;
  box-shadow: 0px 5px 20px 5px #e2e2e2;
  animation: none;
}


.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}


.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}


.fab-action:hover {
  background-color: #f16100;
}

.fab-wheel .fab-action-1 {
  right: -2rem;
  top: 1rem;
}

.fab-wheel .fab-action-2 {
  right: 2rem;
  top: 2rem;
}
.fab-wheel .fab-action-3 {
  right: 5rem;
  top: 4.5rem;
}
.fab-wheel .fab-action-4 {
  right: 6.5rem;
  top: 8.25rem;
}
/* конец соц сетей в навигации */
  .burgerMenu{
  
display: block;
position: absolute;
top: 10px;
right: 10px;
background-color: transparent;
border: none;
}
#cssmenu{
  display: none;
  
}

}

/* @media(max-width:1050px){
  nav{display: none;}
} */
@media(max-width:1200px){

#cssmenu{
  width: 100%;
}
.customItem{
  font-size: 16px;
}
  #cssmenu ul li.has-sub > a:after {
      content: '';
      margin-left: 5px; 
}
}
